<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="height: 100vh;">
            <div class="card-header">
                Pedidos
            </div>

            <clr-datagrid class="datagrid-compact">
                <clr-dg-column>Producto</clr-dg-column>
                <clr-dg-column>Estado</clr-dg-column>

                <clr-dg-row *ngFor="let user of users">
                    <clr-dg-cell><a>{{user.producto}}</a></clr-dg-cell>
                    <clr-dg-cell style="text-align:center">
                        <a> <span class="color-square" [style.backgroundColor]="user.estado"></span></a>
                    </clr-dg-cell>
                    <clr-dg-row-detail *clrIfExpanded [innerHTML]="user.creation">
                    </clr-dg-row-detail>
                </clr-dg-row>



                <clr-dg-footer>{{users.length}} Productos</clr-dg-footer>
            </clr-datagrid>

            <clr-alert [clrAlertType]="'alert-warning'" [clrAlertClosable]="false">
                <div clr-alert-item class="alert-item">
                    <span class="alert-text">
                            Si desea cancelar un pedido, favor llamar a nuestras oficinas
                        </span>
                </div>
            </clr-alert>
        </div>
    </div>



</div>