/* 

Ãndice 

#0 - General Variables 
#0.5 - Mixins
#1 - Theme
#2 - Default Settings (margin, padding, font, font-size...etc)
#3 - Sidenav Settings


*/


/* #0 General Variables */

//devices sizes
$xs:300px;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;

/* #0.5 Mixins */


/* #1 Theme */


/* #2 Default Settings */

// elementos a la derecha
.space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}

#hamburger {
    cursor: pointer;
}

mat-sidenav-container {
    height: 100vh;
}

mat-sidenav {
    width: 250px;
}

mat-card {
    margin: 0px;
}

mat-list-item {
    cursor: pointer;
}

mat-list-item:hover {
    background-color: #efefef;
}

mat-toolbar {
    z-index: 10!important;
}

.navbar-style {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 1.7em "berkshire-swash", Helvetica, sans-serif!important;
    color: red !important;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 1px 2px white !important;
}

.logo {
    margin-left: 10px!important;
    display: inherit!important;
}

.top-main {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 9999;
    position: relative;
}


/* #3 Sidenav Settings */

mat-sidenav a {
    display: block;
    text-align: left;
    padding: 0.5em 1em;
    color: #222 !important;
    margin: 0.5em 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.mat-sidenav-separator {
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
    background: lightslategray;
}

// esto es para que la parte de arriba de la lista del sidebar se pegue a la parte de arriba de lo del usuario
.mat-selection-list {
    display: unset!important;
}

// Extra Small devices (landscape phones, 320px and up)
@media (min-width: $xs) and (max-width: 575px) {
    .logo>a>img {
        width: 30px;
        height: 30px;
    }
    .user-info {
        height: 70px!important;
    }
    .mat-list .mat-list-item .mat-list-item-content,
    .mat-nav-list .mat-list-item .mat-list-item-content,
    .mat-selection-list .mat-list-item .mat-list-item-content {
        padding: 0px!important;
        height: 40px!important;
    }
    mat-sidenav {
        width: 180px!important;
    }
    .mat-toolbar {
        min-height: 40px!important;
        height: 40px!important;
    }
    .mat-toolbar-row {
        height: 40px!important;
    }
    .main-container .content-container .content-area {
        padding-left: 5px!important;
        padding-right: 5px!important;
        padding-top: 0px!important;
        background-color: white;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $sm) {
    .logo>a>img {
        width: 35px;
        height: 35px;
    }
    .hidden-xs {
        display: block!important;
    }
    mat-sidenav {
        width: 230px!important;
    }
    .mat-list .mat-list-item .mat-list-item-content,
    .mat-nav-list .mat-list-item .mat-list-item-content,
    .mat-selection-list .mat-list-item .mat-list-item-content {
        padding: 0 10px!important;
        height: 45px!important;
    }
    .navbar-style {
        margin-left: 10px!important;
        font: normal 1.2em "berkshire-swash", Helvetica, sans-serif!important;
    }
    .mat-toolbar {
        height: 58px!important;
    }
    .mat-toolbar-row {
        height: 58px!important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $md) {
    .user-info {
        height: 100px!important;
        padding: 0px;
    }
}

.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

// Large devices (desktops, 992px and up)
@media (min-width: $lg) {
    mat-sidenav {
        transform: translate3d(0px, 0px, 0px)!important;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        visibility: visible!important;
        border-right: 0.5px gray solid;
    }
    mat-sidenav-content {
        //  margin-top: 20px!important;
        // margin-left: 50px!important;
        //margin-right: 50px!important;
        transform: translate3d(230px, 0px, 0px)!important;
        padding-right: 230px!important;
    }
    #hamburger {
        display: none !important;
    }
    mat-sidenav {
        width: 230px!important;
    }
    .user-info {
        height: 130px!important;
        padding: 0px;
    }
    .top-main {
        box-shadow: 230px 3px 5px 0px rgba(0, 0, 0, 0.75);
        z-index: 9999;
        position: relative;
    }
    .prueba {
        //   padding-top: 2%;
        //     padding-left: 22%;
        //    padding-right: 22%;
    }
}

// footer
html {
    color: #565656!important;
}

.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 20px;
    margin-top: 152px;
}

.footer-basic-centered .footer-company-motto {
    color: #8d9093;
    font-size: 24px;
    margin: 0;
}

.footer-basic-centered .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
    .footer-basic-centered {
        padding: 35px;
    }
    .footer-basic-centered .footer-company-motto {
        font-size: 18px;
    }
    .footer-basic-centered .footer-company-name {
        font-size: 12px;
    }
    .footer-basic-centered .footer-links {
        font-size: 14px;
        padding: 25px 0 20px;
    }
    .footer-basic-centered .footer-links a {
        line-height: 1.8;
    }
}